<main>

<h3>
    Demo using RI Date Time Picker
</h3>

<div>
  calendar : 
  <input  [riDateTime]="dt1" [riDateTimeTrigger]="dt1" placeholder="Date Time">
  <ri-date-time [pickerType]="'both'" #dt1></ri-date-time>
</div>

<div>
  calendar with Filter: 
  <input [riDateTime]="dtFilter" [riDateTimeFilter]="myFilter" [riDateTimeTrigger]="dtFilter" placeholder="Date Time">
  <ri-date-time [pickerType]="'both'" #dtFilter></ri-date-time>
</div>

<div>
  
  <label for="daterange">
    Datetime range (click, then press 'Set' to modify):
  </label>

  <input
    [(ngModel)]="selectedDates"
    [selectMode]="'range'"
    [riDateTimeTrigger]="date_range_component"
    [riDateTime]="date_range_component"
    style="width: 20%; "
    pickerType="both"
    id="daterange">

  <ri-date-time
    #date_range_component
    [startAt]="currentValue"
    [endAt]="endValue"
    (afterPickerClosed)="selectedTrigger($event)"
    (dateSelected)="selectedTrigger($event)">
  </ri-date-time>
</div>


<div>
  Min and Max Validation: 
  <input [min]="min" [max]="max" [riDateTime]="dt4" [riDateTimeTrigger]="dt4" placeholder="Date Time">
  <ri-date-time [pickerType]="'both'" #dt4></ri-date-time>
</div>

<div>
  calendar with Timer as Dialog: 
  <input [riDateTime]="dt5" [riDateTimeTrigger]="dt5" placeholder="Date Time">
  <ri-date-time [pickerType]="'both'" [pickerMode]="'dialog'" #dt5></ri-date-time>
</div>



<div>
  Timer: 
  <input [riDateTime]="dt6" [riDateTimeTrigger]="dt6" placeholder="Time">
  <ri-date-time [pickerType]="'timer'" #dt6></ri-date-time>
</div>
</main>
